$theme-colors: (
    "primary": #7540b9,
    "danger": #ff4136
);

// Create my own map
$custom-colors: (
  "custom-color": #900
);


// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


// body {
//     background-color: $primary;
// };

@import "../node_modules/bootstrap/scss/bootstrap";


// // Sass Variables
// $font-stack: Arial, Helvetica, sans-serif;
// $light-color: #f4f4f4;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%; /*this is saying you can never be bigger than your parent*/
    /*   border:1px solid grey; */
}

html {
    font-size: 62.5%;
}

body {
    height: 1000px;
    line-height:2;
    font-size:1.5rem;
    background-color: #4a0202;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* no scrollbars shown by default */
    // overflow: hidden;
    margin: 0;
}
  

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=714&q=80/");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

   /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

h1, h2, h3, h4{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing:3px;
    padding:4% 0;
  }

.food-cards {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease
}

.panel{
    h3 {
        font-size: 24px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        /* When panels are active, h3 titles will appear */
        opacity: 0;
    }
}

.panel.active {
    h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s
    }
}